{% extends "base.html" %}

{% block konten %}

<div class="container-fluid">
	<div class="row justify-content-center" style="padding-top: 80px;">
		<div class="card text-white bg-dark mb-3" style="max-width: 37rem;">
			<div class="card-header text-center">Admin</div>
			<div class="card-body">
				<form>
					<div class="row mb-3">
						<label class="col-sm-2 col-form-label">Email</label>
						<div class="col-sm-10">
							<input class="form-control">
						</div>
					</div>
					<div class="row mb-3">
						<label class="col-sm-2 col-form-label">Password</label>
						<div class="col-sm-10">
							<input class="form-control">
						</div>
					</div>
					<div class="d-grid col-2 mx-auto">
						<button type="submit" class="btn btn-outline-light d-grid">Login</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock %}