{% extends "admin_base.html" %}

{% block konten %}

<div class="page-header">
    <div class="page-header-title">
        <h4>Pendaftaran Akun Admin</h4>
    </div>
</div>
<div class="page-body">
    <div class="row justify-content-center" style="padding-top: 50px;">
		<div class="card text-white bg-dark mb-3" style="max-width: 40rem;">
			<div class="card-header text-center"></div>
			<div class="card-body">
				<form>
					<div class="row mb-3">
						<label class="form-label">Nama</label>
						<input class="form-control">
					</div>
					<div class="row mb-3">
						<label class="form-label">Email</label>
						<input class="form-control">
					</div>
					<div class="row mb-3">
						<label class="form-label">Password</label>
						<input class="form-control">
					</div>
					<div class="row mb-3">
						<label class="form-label">Konfirmasi Password</label>
						<input class="form-control">
					</div>
					<div class="d-grid col-3 mx-auto">
						<button type="submit" class="btn btn-outline-light d-grid">Daftar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock %}