{% extends "admin_base.html" %}

{% block konten %}

<div class="page-header">
    <div class="page-header-title">
        <h4>Tambah Data Media</h4>
    </div>
</div>
<div class="page-body">
    <div class="row justify-content-center" style="padding-top: 50px;">
		<div class="card text-white bg-success mb-3" style="max-width: 40rem;">
			<div class="card-header text-center"></div>
			<div class="card-body">
				<form method="POST">
					{{form.hidden_tag()}}
					<div class="row mb-3">
						{{form.judul.label(class="form-label")}}
						{% if form.judul.errors %}
							{{form.judul(class="form-control is-invalid")}}
							<div class="invalid-feedback">
								{% for error in form.judul.errors %}
								<span>{{error}}</span>
								{% endfor %}
							</div>
						{% else %}
						{{form.judul(class="form-control")}}
						{% endif %}
					</div>
					<div class="row mb-3">
						{{form.deskripsi.label(class="form-label")}}
						{% if form.deskripsi.errors %}
							{{form.deskripsi(class="form-control is-invalid")}}
							<div class="invalid-feedback">
								{% for error in form.deskripsi.errors %}
								<span>{{error}}</span>
								{% endfor %}
							</div>
						{% else %}
						{{form.deskripsi(class="form-control")}}
						{% endif %}
					</div>
					<div class="row mb-3">
						{{form.foto.label(class="form-label")}}
						{% if form.foto.errors %}
							{{form.foto(class="form-control is-invalid")}}
							<div class="invalid-feedback">
								{% for error in form.foto.errors %}
								<span>{{error}}</span>
								{% endfor %}
							</div>
						{% else %}
						{{form.foto(class="form-control")}}
						{% endif %}
					</div>
					<div class="tombolform">
						{{form.submit(class="btn btn-outline-light")}}
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock %}